# Ignorar Lixo do Python
__pycache__/
*.py[cod]

# Ignorar Datasets e Resultados Pesados
data/
savi_experiments/
*.jpg
*.json
*.pkl
*.bin

# Ignorar configs do editor
.vscode/

output/
data/

improved_datatet/

