# Ignorar Lixo do Python
__pycache__/
*.py[cod]

# Ignorar Datasets e Resultados Pesados
data/
savi_experiments/
*.png
*.jpg
*.json
*.pkl

# Ignorar configs do editor
.vscode/

# Ignorar dados de entrada
tarefa2/data/

# Ignorar resultados gerados
tarefa2/output/
